#calendar {
  background-color: @card_bg_color;
  border-width: 0px;
}

#calendar button {
  border-radius: 12px;
}

#calendar .day-number {
	border-radius: 12px;
}

#calendar .today {
	background-color: @card_bg_color;
	box-shadow: none;
}

#calendar .day-number:checked {
  color: @accent_color;
  font-weight: bold;
}

#calendar .day-number:selected {
  background-color: @accent_bg_color;
  color: @fg_color;
}

