# Auto detect text files and perform LF normalization
* text eol=lf
*.png binary
*.jpg binary
*.ico binary
*.pdf binary
*.exe binary
*.otf binary
*.ttf binary
# Exclude Docs From Stats
docs/** linguist-documentation