[Desktop Entry]
Version=1.0
Name=Money
Comment=A personal finance manager
Comment[hi]=एक व्यक्तिगत वित्त संयोजक
Comment[hr]=Aplikacija za osobne financije
Exec=org.nickvision.money
Icon=org.nickvision.money
Terminal=false
Type=Application
X-GNOME-UsesNotifications=true
