[Desktop Entry]
Version=1.0
Name=Denaro
Comment=A personal finance manager
Exec=/usr/opt/org.nickvision.money/NickvisionMoney.GNOME
Icon=org.nickvision.money
Terminal=false
Type=Application
MimeType=application/x-nmoney
X-GNOME-UsesNotifications=true
