.denaro-total {
  color: @blue_5;
  font-weight: bold;
}

.denaro-income {
  color: @green_5;
  font-weight: bold;
}

.denaro-expense {
  color: @red_5;
  font-weight: bold;
}

.wallet-button {
  background-color: #00000000;
}

.account-tag {
  border-radius: 20px;
  font-size: 12px;
  padding: 1px 12px;
}

.greeting-title {
  font-size: 32px;
  font-weight: 900;
}

/* Calendars colors */
@define-color denaro_calendar_today_bg_color @headerbar_bg_color;
@define-color denaro_calendar_today_fg_color @warning_color;
@define-color denaro_calendar_marked_day_fg_color @accent_color;
@define-color denaro_calendar_selected_day_bg_color @accent_bg_color;
@define-color denaro_calendar_delected_day_fg_color @fg_color;
@define-color denaro_calendar_other_month_fg_color @light_5;

/* Account View Calendar */
#calendarAccount {
  background-color: @card_bg_color;
  border-width: 0px;
}

#calendarAccount button {
  border-radius: 12px;
}

#calendarAccount .day-number {
  border-radius: 12px;
}

#calendarAccount .today {
  background-color: @denaro_calendar_today_bg_color;
  color: @denaro_calendar_today_fg_color;
  box-shadow: none;
}

#calendarAccount .day-number:checked {
  color: @denaro_calendar_marked_day_fg_color;
  font-weight: bold;
}

#calendarAccount .day-number:selected {
  background-color: @denaro_calendar_selected_day_bg_color;
  color: @denaro_calendar_selected_day_fg_color;
}

#calendarAccount .other-month {
  color: @denaro_calendar_other_month_fg_color;
  font-weight: normal;
}

#calendarAccount .other-month:checked {
  color: @denaro_calendar_other_month_fg_color;
  font-weight: normal;
}


/* Transaction Dialog Calendar */
#calendarTransactions button {
  border-radius: 12px;
}

#calendarTransactions .day-number {
  border-radius: 12px;
}

#calendarTransactions .today {
  background-color: @denaro_calendar_today_bg_color;
  color: @denaro_calendar_today_fg_color;
  box-shadow: none;
}


/* Make apply button in TransferDialog's password row to ignore error class */
row.error button.circular {
  background-color: @accent_bg_color;
  color: @accent_fg_color;
}


/* Transactions header box */
.transactions-header {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: @borders;
}

/* Transaction Dialog */
.transaction-dialog-group list:dir(ltr), .transaction-dialog-group row:dir(ltr), .transaction-dialog-color list:dir(rtl), .transaction-dialog-color row:dir(rtl) {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.transaction-dialog-group list:dir(rtl), .transaction-dialog-group row:dir(rtl), .transaction-dialog-color list:dir(ltr), .transaction-dialog-color row:dir(ltr) {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.calendar-button:dir(ltr) {
	margin-right: -8px;
}

.calendar-button label:dir(ltr) {
	margin-right: 4px;
	font-weight: normal;
}

.calendar-button:dir(rtl) {
	margin-left: -8px;
}

.calendar-button label:dir(rtl) {
	margin-left: 4px;
	font-weight: normal;
}

/* Transaction Row */
.id-image {
  border-radius: 34px;
}
