.wallet-button {
  background-color: #00000000;
}

/* Calendars colors */
@define-color denaro_calendar_today_bg_color @headerbar_bg_color;
@define-color denaro_calendar_today_fg_color @warning_color;
@define-color denaro_calendar_marked_day_fg_color @accent_color;
@define-color denaro_calendar_selected_day_bg_color @accent_bg_color;
@define-color denaro_calendar_delected_day_fg_color @fg_color;
@define-color denaro_calendar_other_month_fg_color @light_5;

/* Account View Calendar */
#calendarAccount {
  background-color: @card_bg_color;
  border-width: 0px;
}

#calendarAccount button {
  border-radius: 12px;
}

#calendarAccount .day-number {
  border-radius: 12px;
}

#calendarAccount .today {
  background-color: @denaro_calendar_today_bg_color;
  color: @denaro_calendar_today_fg_color;
  box-shadow: none;
}

#calendarAccount .day-number:checked {
  color: @denaro_calendar_marked_day_fg_color;
  font-weight: bold;
}

#calendarAccount .day-number:selected {
  background-color: @denaro_calendar_selected_day_bg_color;
  color: @denaro_calendar_selected_day_fg_color;
}

#calendarAccount .other-month {
  color: @denaro_calendar_other_month_fg_color;
  font-weight: normal;
}

#calendarAccount .other-month:checked {
  color: @denaro_calendar_other_month_fg_color;
  font-weight: normal;
}


/* Transaction Dialog Calendar */
#calendarTransactions button {
  border-radius: 12px;
}

#calendarTransactions .day-number {
  border-radius: 12px;
}

#calendarTransactions .today {
  background-color: @denaro_calendar_today_bg_color;
  color: @denaro_calendar_today_fg_color;
  box-shadow: none;
}


/* Transaction Row */
.row-small {
  border-left-width: 4px;
  border-left-style: solid;
}
