.denaro-total {
  color: @blue_5;
  font-weight: bold;
}

.denaro-income {
  color: @green_5;
  font-weight: bold;
}

.denaro-expense {
  color: @red_5;
  font-weight: bold;
}

.wallet-button {
  background-color: #00000000;
}

.tag {
  border-radius: 20px;
  font-size: 12px;
}

.greeting-title {
  font-size: 32px;
  font-weight: 900;
}

/* Calendars colors */
@define-color denaro_calendar_today_bg_color @headerbar_bg_color;
@define-color denaro_calendar_today_fg_color @view_fg_color;
@define-color denaro_calendar_marked_day_fg_color @accent_color;
@define-color denaro_calendar_selected_day_bg_color @accent_bg_color;
@define-color denaro_calendar_delected_day_fg_color @fg_color;
@define-color denaro_calendar_other_month_fg_color @light_5;

/* Account View Calendar */
#calendarAccount {
  background-color: @card_bg_color;
  border-width: 0px;
}

#calendarAccount button {
  border-radius: 12px;
}

#calendarAccount .day-number {
  border-radius: 12px;
}

#calendarAccount .today {
  background-color: @denaro_calendar_today_bg_color;
  color: @denaro_calendar_today_fg_color;
  box-shadow: none;
}

#calendarAccount .day-number:checked {
  color: @denaro_calendar_marked_day_fg_color;
  font-weight: bold;
}

#calendarAccount .day-number:selected {
  background-color: @denaro_calendar_selected_day_bg_color;
  color: @denaro_calendar_selected_day_fg_color;
}

#calendarAccount .other-month {
  color: @denaro_calendar_other_month_fg_color;
  font-weight: normal;
}

#calendarAccount .other-month:checked {
  color: @denaro_calendar_other_month_fg_color;
  font-weight: normal;
}


/* Transaction Dialog Calendar */
#calendarTransactions button {
  border-radius: 12px;
}

#calendarTransactions .day-number {
  border-radius: 12px;
}

#calendarTransactions .today {
  background-color: @denaro_calendar_today_bg_color;
  color: @denaro_calendar_today_fg_color;
  box-shadow: none;
}


/* Make apply button in TransferDialog's password row to ignore error class */
row.error button.circular {
  background-color: @accent_bg_color;
  color: @accent_fg_color;
}

/* Transactions header box */
.transactions-scroll {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: @borders;
}

/* Group Checkbutton */
.group-filter-bg {
  border-radius: 32px;
}

.group-filter-check check {
  background-color: #00000000;
}

.group-filter-check-light check {
  color: #ffffff;
}

.group-filter-check-dark check {
  color: rgba(0, 0, 0, 0.8);
}

.group-filter-disabled check {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.12) inset;
}

.group-filter-disabled check:hover {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.16) inset;
}
/* Transaction Dialog */
.scrolled-dialog {
  border-color: @borders;
  border-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
}

.transaction-amount {
  border-radius: 12px;
}

.transaction-amount text {
  font-size: 14pt;
}

.calendar-button label {
  margin-left: -8px;
  margin-right: -8px;
}

.calendar-button popover label {
  margin-left: 0px;
  margin-right: 0px;
}

.calendar-button calendar {
  font-weight: normal;
  background-color: @popover_bg_color;
  border: none;
}

.color-dropdown {
  margin-left: -10px;
  margin-right: -10px;
}

.color-dropdown button {
  background-color: #00000000;
  font-weight: normal;
}

/* Transaction Row */
.id-image {
  border-radius: 34px;
}

/* Recent Account Row */
.wallet-button {
  background-color: rgba(0, 0, 0, 0);
}

.wallet-bg {
  border-radius: 6px;
}
